.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.gallery_preview {
    display: grid;
    justify-content: space-between;
    align-items: flex-end;
    grid-template-areas: "avatar heading" "avatar photos";
    grid-template-rows: 4.5rem 13rem;
    grid-template-columns: 3fr 7fr;
    grid-gap: 0rem;
    margin-bottom: 3rem;
}

.avatarContainer {
    grid-area: avatar;
    display: flex;
    margin-right: 2rem;
}

.galleryWrapper {
    display: flex;
    grid-area: photos;
    overflow: hidden;
}

.gallery__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: .5rem;
}

.gallery__photos {
    display: flex;
    justify-content: space-evenly;
}

.gallery__photo {
    position: relative;
    margin-right: 2rem;
    overflow: hidden;
}


/* Information */

.info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3rem;
    /* padding-top: 3rem; */
}

.info__heading {
    padding-bottom: 1rem;
}

.info__list {
    display: flex;
    flex-wrap: wrap;
}

.info__listItem {
    width: 33%;
}


/* Posts */

.posts {
    width: 42rem;
    margin-right: 2rem;
}

.posts__heading {
    margin-bottom: 1rem;
}

.postItem__imageContainer {
    margin-bottom: 1rem;
}

.postTitle {
    margin-bottom: .5rem;
}

.postText {
    margin-bottom: .5rem;
}