.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

.gallery_preview {
    display: grid;
    justify-content: space-between;
    align-items: flex-end;
    grid-template-areas: "avatar heading" "avatar photos";
    grid-template-rows: 4.5rem 13rem;
    grid-template-columns: 3fr 7fr;
    grid-gap: 0rem;
}

.avatarContainer {
    grid-area: avatar;
    display: flex;
    margin-right: 2rem;
}

.galleryWrapper {
    display: flex;
    grid-area: photos;
    overflow: hidden;
}

.gallery__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: .5rem;
}

.gallery__photos {
    display: flex;
    justify-content: space-evenly;
}

.gallery__photo {
    position: relative;
    margin-right: 2rem;
    overflow: hidden;
}