.content {
    display: flex;
    flex-wrap: wrap;
    width: 42rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.posts__heading {
    width: 100%;
    margin-bottom: 1rem;
}

.postItem__imageContainer {
    margin-bottom: 1rem;
    width: 100%;
}

.postTitle {
    margin-bottom: .5rem;
}

.postText {
    margin-bottom: .5rem;
}