/* .App {
  text-align: center;
} */

.App-wrapper {
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0rem;

  grid-template-areas: 
  "header header"
  "navbar content";

  min-width: 100vw;
  min-height: 100vh;
  padding: 1.5rem 2rem;

  background-color: #FCFCFA;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 2, 0, infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */