.link {
    color: #282810;
    font-size: 1rem;
    line-height: 1.5;
}

.link:hover {
    color: #18E0D8;
    transition: color .5s ease-out;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    letter-spacing: -.02em;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: -.01em;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}